{% extends 'PiwicmsAdminWebBundle::base.html.twig' %}

{% block title %}{{ parent() }} User{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container">

            </div>
        </div>
    </div>
{% endblock %}